.background{
  ////BG-TXT
  &__txtBox{
    grid-column: content-start/content-end;
    grid-row: 2/span1;
    
    transform: rotate(90deg);
    width: 85vh;
    justify-self: center;
    overflow: hidden;
    margin-top: 5rem;
  }
  &__text{
    // margin: 0 auto;
    font-weight: 400;
    font-size: 32rem;
    line-height: 27rem;
    color: $white-color;
    text-transform: uppercase;
  }
  ////////HERO
  &__hero{
    grid-column: content-start/content-end;
    grid-row: 2/span1;
    justify-self: center;
    z-index: 2;
    width: 50rem;
    margin-top: 18rem;
    height: 75rem;
   
    

  }
}